@model Blog.ViewModels.LoginViewModel
@{
    Layout = null;
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Regjistrohu - Blog</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="background">
    <br />
    <br />
    <div class="center">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 curved">
                <h4 class="text-center">Identifikohu</h4>
                <form asp-action="LogIn">
                    <div class="text-danger small" id="error">@ViewBag.ErrMsg</div>
                    <div class="form-group">
                        <label asp-for="Username" class="control-label" ></label>
                        <input asp-for="Username" class="form-control" autocomplete="off" maxlength="50" oninput="clearError()"/>
                        <span asp-validation-for="Username" class="text-danger small"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" type="password" autocomplete="off" maxlength="25" oninput="clearError()" />
                        <span asp-validation-for="Password" class="text-danger small"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Hyr" class="btn btn-success center" />
                    </div>
                </form>
                <div class="form-group">
                    <hr />
                    <label>Nuk keni krijuar llogari ?</label>
                    @Html.ActionLink("Regjistrohu", "Register", "Registration")
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/site.js">

    </script>
</body>
</html>